/* Animations / Transitions*/
.evolution-animation {
  animation-duration: 5s;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    margin-left: 0%;
    width: 300%;
  }

  100% {
    margin-left: 10%;
    width: 100%;
  }
}

.header-animation {
  animation-duration: 5s;
  animation-name: slide-in-header;
}

@keyframes slide-in-header {
  0% {
    width: 80%; 
  }

  100% {
    width: 100%;
  }
}

@media (min-width: 360px) and (max-width: 809px) {
  /* Animations / Transitions */

  nav.header-links {
    animation-duration: 0.3s;
    animation-name: slide-in;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    0% {
        margin-left: 100%;
        width: 0px
    }

    100% {
        margin-left: 50%;
        width: 200px
    }
}
}

