.cta-frontpage-readmore, .cta-plan-visit, .cta-exhibitions-readmore-evolutions, .cta-frontpage-explore-exhibitions, .cta-frontpage-community, .cta-exhibitions-readmore-biology, .cta-exhibitions-readmore-robotics, .cta-exhibitions-readmore-ecology , .cta-exhibitions-readmore-cosmology, .cta-explore-contact-us, .cta-get-involved{
    padding: 10px 60px;
    text-decoration: none;
    justify-content: center;
    font-size: x-large;
    font-family: var(--font-family);
}

.cta-frontpage-readmore {
    background-color: var(--colour-green);
    margin-top: 8%;
    float: right;
}

.cta-plan-visit{
    background-color: var(--colour-orange);
    color: #fff;
    padding: 10px 80px;
}

.cta-exhibitions-readmore-evolutions, .cta-exhibitions-readmore-biology, .cta-exhibitions-readmore-robotics, .cta-exhibitions-readmore-ecology, .cta-exhibitions-readmore-cosmology, .cta-explore-contact-us {
    background-color: var(--colour-green);
    color: #fff;
    margin: 2% auto;
    padding: 10px 100px;
}

.cta-exhibitions-readmore-biology {
    background-color: var(--colour-orange);
}

.cta-exhibitions-readmore-robotics, .cta-exhibitions-readmore-cosmology {
    background-color: var(--colour-pink);
}

.colour-arrow {
    color: #fff;
}

.cta-frontpage-explore-exhibitions, .cta-frontpage-community {
    background-color: var(--colour-pink);
    color: #fff;
    margin-left: 10%;
    padding: 10px 70px;
}

.cta-frontpage-community {
    margin-left: 5%;
}

.cta-explore-contact-us {
    background-color: #fff;
    color: black;
}

.cta-get-involved {
    background-color: #000;
    color: #fff;
    margin: 30%;
    
}

/* transitions */

.cta-frontpage-readmore, .cta-ehibitions-readmore-evolutions, .cta-exhibitions-readmore-biology, .cta-exhibitions-readmore-ecology, .cta-frontpage-explore-exhibitions, .cta-exhibitions-readmore-robotics, .cta-exhibitions-readmore-cosmology, .cta-frontpage-community, .cta-plan-visit, .cta-explore-contact-us, .cta-get-involved {
    transition-property: background-colour;
}

.cta-frontpage-readmore:hover, .cta-exhibitions-readmore-evolutions:hover, .cta-exhibitions-readmore-ecology:hover, .cta-explore-contact-us:hover {
    background-color: var(--colour-dark-green);
}

.cta-explore-contact-us:hover {
    color: #fff;
}

.colour-arrow:hover {
    color: var(--colour-pink);
}

.cta-exhibitions-readmore-biology:hover {
    background-color: var(--colour-dark-orange);
}

.cta-frontpage-explore-exhibitions:hover, .cta-exhibitions-readmore-robotics:hover, .cta-exhibitions-readmore-cosmology:hover {
    background-color: var(--colour-purple);
}

.cta-frontpage-community:hover, .cta-get-involved:hover {
    background-color: #fff;
    border-color: var(--colour-pink);
    color: var(--colour-pink);
    border-style: solid;
}

.cta-get-involved:hover {
    border-style: solid;
    border-color: #000;
    color: #000;
}

.cta-plan-visit:hover {
    background-color: #fff;
    border-color: var(--colour-orange);
    color: var(--colour-orange);
}

.cta-frontpage-readmore:active, .cta-exhibitions-readmore-evolutions:active, .cta-exhibitions-readmore-biology:active, .cta-exhibitions-readmore-ecology:active, .cta-get-involved:active {
    background-color: #fff;
    color: var(--colour-dark-green);
    border-color: var(--colour-dark-green);
}

.cta-get-involved:active {
    background-color: var(--colour-purple);
    color: #fff;
}

.cta-exhibitions-readmore-evolutions:active {
    color: var(--colour-green);
    border-color: var(--colour-green);
}

.cta-exhibitions-readmore-biology:active {
    color: var(--colour-orange);
    border-color: var(--colour-orange);
}

.cta-plan-visit:active {
    background-color: var(--orange-pale-orange);
    border-color: var(--colour-orange);
    color: var(--colour-orange);
}

@media (min-width: 360px) and (max-width: 809px) {
    .cta-frontpage-community {
        padding: 10px 60px;
        margin-left: 2%;
    }

    .cta-explore-contact-us {
        padding: 10px 40px;
        margin-left: 20%;
    }

    .cta-get-involved {
        margin: 3% 25%;
        font-size: medium;
        padding: 10px 40px;
    }

    .cta-frontpage-readmore {
        padding: 10px 30px;
    }
}

@media (min-width: 810px) and (max-width: 1050px) {
    .cta-frontpage-readmore, .cta-frontpage-community, .cta-plan-visit, .cta-get-involved {
        font-size: large;
    }

    .cta-frontpage-community {
        padding: 10px 20px;
    }

    .cta-plan-visit {
        padding: 10px 40px;
    }

    .cta-frontpage-explore-exhibitions {
        padding: 10px 30px;
    }

    .cta-exhibitions-readmore-robotics {
        padding: 10px 60px;
    }

    .cta-explore-contact-us {
        padding: 10px 80px;
    }

    .cta-get-involved {
        margin: 20%;
    }

    .cta-frontpage-readmore {
        padding: 10px 30px;
        margin-top: 15%;
    }
}