:root {
    --font-family: "Bodoni 72","Trebuchet MT", serif;
    --colour-orange: #DA7C02;
    --colour-pale-orange: #F8E5CC; 
    --colour-dark-orange: #6A4310;
    --colour-green: #11A878;
    --colour-pale-green: #CFEEE4;
    --colour-dark-green: #306152;
    --colour-pink: #C100E6;
    --colour-pale-pink: #F3CCFA;
    --colour-purple: #652772;
    --colour-pale-purple: #6527724b;
    --font-family-treb: "Trebuchet MT", Areal, serif;
}