/* Animations / Transitions */

.image-evolutions-exhibition {
  transition: transform 6s ease;
}

.image-evolutions-exhibition:hover {
  transform: translateX(-20%) translateY(-20%);
}

@media (min-width: 360px) and (max-width: 809px) {
  /* Animations / Transitions */

  nav.header-links {
    animation-duration: 0.3s;
    animation-name: slide-in;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    0% {
        margin-left: 100%;
        width: 0px
    }

    100% {
        margin-left: 50%;
        width: 200px
    }
}
}