/* Animations / Transitions */

.image-evolutions-exhibition,
.image-robotics-exhibition,
.image-biology-exhibition,
.image-cosmology-exhibition,
.image-ecology-exhibition {
  transition: transform 6s ease;
}

.image-evolutions-2-exhibition {
  transition: transition 2s ease;
}

.image-evolutions-2-exhibition:hover {
  transform: translateX(42px);
}

.spacesuit-image-frontpage {
  transition: transform 3s ease-in-out;
}

.spacesuit-image-frontpage:hover {
  transform: rotateY(3.142rad);
}

.image-biology-exhibition:hover,
.image-cosmology-exhibition:hover {
  transform: translateX(20%) translateY(-20%);
}

.image-evolutions-exhibition:hover,
.image-robotics-exhibition:hover,
.image-ecology-exhibition:hover {
  transform: translateX(-20%) translateY(-20%);
}

@media (min-width: 360px) and (max-width: 809px) {
  /* Animations / Transitions */

  nav.header-links {
    animation-duration: 0.3s;
    animation-name: slide-in;
    animation-fill-mode: forwards;
  }

  @keyframes slide-in {
    0% {
      margin-left: 100%;
      width: 0px;
    }

    100% {
      margin-left: 50%;
      width: 200px;
    }
  }
}
