h1 {
  font-size: 50px;
  font-family: var(--font-family-treb);
  text-align: center;
  padding-bottom: 3%;
}

.h2-title,
.text-exhibitions,
p,
.exhibition-sky,
.info-text-homepage,
.get-involved-fontpage,
#get-involved-topdiv,
.cta-frontpage-readmore,
.cosmology-ehibition-text,
.text-exhibitions-evolutions2,
.h4-title,
.text-visit,
.text-get-involed,
.explore-text,
.text-exhibitions-robotics,
.h2-title-special,
.h2-title-exlpore,
.h2-title-explore-exhibitions {
  font-family: var(--font-family);
}

.h2-title,
.h2-title-special,
.h2-title-exlpore {
  font-size: 36px;
}

.visit-title {
  font-size: 20px;
  font-weight: bold;
}

.h2-title-special {
  text-align: center;
}

.h2-title-explore-exhibitions {
  color: #fff;
  font-size: 35px;
  text-align: center;
  padding: 2%;
}

.text-exhibitions {
  margin: 2%;
}

.text-exhibitions-robotics {
  margin-top: 100px;
}
.exhibition-sky,
.info-text-homepage,
.get-involved-fontpage,
#get-involved-topdiv,
.cta-frontpage-readmore,
.text-visit {
  font-size: larger;
}

.header-shadow {
  text-shadow: -3px 3px var(--colour-pale-purple);
}

nav a {
  font-family: var(--font-family-treb);
  font-size: large;
}

#get-involved-topdiv,
.get-involved-fontpage,
.cta-frontpage-readmore,
.text-aim,
.h2-title-explore,
.explore-text-fontpage {
  color: #fff;
}

.explore-text-fontpage,
.cosmology-ehibition-text,
.text-exhibitions,
.text-special-events,
.text-exhibitions-evolutions2,
.text-frontpage-involved,
.text-aim,
.explore-text,
.text-get-involed,
.circular-text-cosmology-page,
.text-exhibitions-robotics {
  font-size: x-large;
}

.text-exhibitions-evolutions2 {
  padding: 0% 8% 5% 5%;
}

.cosmology-ehibition-text,
.circular-text-cosmology-page {
  color: #fff;
  text-align: center;
  padding-top: 10%;
}

.circular-text-cosmology-page {
  padding-top: 0%;
}

.text-frontpage-involved,
.text-aim {
  font-size: x-large;
}

.text-get-involed {
  padding: 4% 0%;
}

.text-cosmology-page {
  font-size: x-large;
}

.cosmology-text {
  padding-top: 10%;
}

@media (min-width: 360px) and (max-width: 809px) {
  h1 {
    font-size: 40px;
  }

  .h2-title {
    font-size: 25px;
  }

  .text-exhibitions,
  .text-exhibitions-evolutions2,
  .text-aim,
  .cosmology-ehibition-text,
  .explore-text-fontpage,
  .text-special-events,
  .explore-text,
  .text-visit,
  .text-get-involed,
  .text-exhibitions-robotics {
    font-size: large;
  }

  .hamburger-icon {
    font-size: 45px;
    margin: 3%;
    color: var(--colour-purple);
  }

  .text-get-involed {
    padding: 0%;
    margin: 4% 0%;
  }
}

@media (min-width: 810px) and (max-width: 1050px) {
  .text-exhibitions,
  .text-exhibitions-evolutions2,
  .text-aim,
  .explore-text-fontpage,
  .text-special-events,
  .explore-text,
  .text-visit,
  .text-get-involed {
    font-size: large;
  }

  .cosmology-ehibition-text,
  .text-cosmology-page,
  .circular-text-cosmology-page {
    font-size: large;
  }

  .h2-title,
  .h2-title-explore-exhibitions {
    font-size: 26px;
  }

  .text-get-involed {
    padding: 0%;
  }
}
