/*header and footer*/
nav.header-links,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav.header-links,
nav a,
nav nav li {
  display: block;
}

header {
  position: relative;
}

nav.header-links {
  position: absolute;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  padding: 10px;
}

.logo-header {
  max-width: 50%;
}

nav li {
  text-decoration: none;
  padding-top: 2%;
}

.logo-footer {
  max-width: 300px;
}

.sm-image-footer {
  max-width: 40px;
}

.footer-links {
  margin-top: 2%;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.footer-links a {
  white-space: nowrap;
}

.container-footer {
  display: flex;
  flex-direction: column;
  background-color: var(--colour-pale-purple);
  padding: 5%;
}

.links-container-footer-bar {
  display: flex;
  justify-content: space-between;
}

nav-footer {
  display: block;
}

.active {
  color: var(--colour-orange);
  font-weight: 900;
}
.h-links:hover {
  color: var(--colour-green);
  filter: drop-shadow(0 0 5px var(--colour-green));
  font-weight: 900;
}

@media (min-width: 350px) and (max-width: 815px) {
  /* Header */
  .flex-container-header {
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
  }

  nav.header-links {
    margin-top: 14%;
    margin-left: 5%;
    background-color: var(--colour-purple);
    padding: 10%;
    height: 100vh;
    padding-top: 20%;
    z-index: 2;
  }

  nav a.h-links {
    display: block;
    margin-bottom: 20%;
    color: #fff;
  }

  .logo-header {
    max-width: 50%;
  }

  /* Footer */
  .container-footer {
    margin-left: 0%;
  }

  .logo-footer {
    max-width: 250px;
  }

  .footer-links {
    margin-right: 60px;
    margin-left: 10px;
  }

  .footer-links,
  .links-container-footer-bar {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .container-sm-links {
    margin: 0% 24%;
  }

  nav a {
    display: inline;
  }
}

@media (min-width: 816px) and (max-width: 1080px) {
  /* Header */
  .logo-header {
    max-width: 27%;
  }

  nav a {
    padding: 10px 0px;
  }

  /* Footer */
  .container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 0%;
    gap: 10%;
  }

  .logo-footer {
    max-width: 250px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    padding: 0%;
  }

  nav a {
    display: inline;
  }

  .sm-image-footer {
    padding: 0% 0% 12% 12%;
    max-width: 14%;
  }
}
