:root {
  --font-family: "Bodoni 72", "Trebuchet MT", serif;
  --colour-orange: #da7c02;
  --colour-pale-orange: #f8e5cc;
  --colour-dark-orange: #6a4310;
  --colour-green: #11a878;
  --colour-pale-green: #cfeee4;
  --colour-dark-green: #306152;
  --colour-pink: #c100e6;
  --colour-pale-pink: #f3ccfa;
  --colour-purple: #652772;
  --colour-pale-purple: #6527724b;
  --font-family-treb: "Trebuchet MT", Areal, serif;
}
